<br>
<div class="container">

    <h2>les infos  sur  BASH_PROFILE</h2><br>
  <form  (ngSubmit)="onSubmit()">
    <table class="table">
        <thead>
          <tr>
            <th>User Applicatif</th>
            <th>Chemin Amplitude</th>
            <th>Database</th>
            <th>Instance</th>
            <th>Type BD</th>
            <th></th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{msg}}</td>
            <td>{{amplitude}}</td>
            <td><input type="text" class="form" value={{database}}> </td>
            <td> <input type="text"   class="form" value={{Instance}}> </td>
            <td> {{Type}}</td>
            <td> <button class="btn btn-success">Modifier</button></td>
          </tr>
         
        </tbody>
      </table>
     
   </form>

</div>
