<br>
<div class="col-md-10 offset-md-1" *ngIf="session=='true'; else other_content">
  <h2> Page d'acceuill</h2>
  <div class="box">
    <div class="container">
     	<div class="row">
			 
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-anchor fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Amplitude</h4>
						</div>
                        
						<div class="text">
							<span>cette partie permit a l'utilisateur installer automatiquement Amplitude et genero</span>
						</div>
                        
						<a href="/amplitude">let start</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>Users</h4>
						</div>
                        
						<div class="text">
							<span>l'admin dans ce partie gerer les utilisateurs de l'application</span>
						</div>
                        
						<a href="/list-user">let start</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Exportation</h4>
						</div>
                        
						<div class="text">
							<span>Cette partie permit exporter le shcema vers un fichiers dump</span>
						</div>
                        
						<a href="/export">let's go</a>
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-cloud-download fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Importation</h4>
						</div>
                        
						<div class="text">
							<span>Importation automatique  Base de donne Informix/oracle</span>
						</div>
                        
						<a href="#">Learn More</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>les statistiques</h4>
						</div>
                        
						<div class="text">
							<span>les statistiques sur stockage des tables spaces</span>
						</div>
                        
						<a href="#">let's go</a>
                        
					 </div>
				</div>	 
				
				
		
		</div>		
    </div>
</div>
  
</div>
<ng-template class=" offset-md-5" #other_content><a href="/login">You must login......</a></ng-template>
