<br>
<br>
<h2>
 Info "hosts"
</h2>
<div class="row">
    <div class="col-md-3  offset-md-1">
      <div class="form-group">
        <label for="first">Instance</label>
        <input type="text" class="form-control"  value={{database}} name="database"  id="database" disabled [(ngModel)]="instancee" >
         
      </div>
    </div>
    <!--  col-md-3   -->

    <div class="col-md-3 ">
      <div class="form-group">
        <label for="last">Address IP</label>
        <input type="text" class="form-control"   name="ip" id="ip" [(ngModel)]="ip">
      </div>
    </div>
      <!--  col-md-3   -->
     <div class="col-md-3">
        <div class="form-group">
          <label for="last">Port </label>
          <input type="text" class="form-control"  name="port" id="port" [(ngModel)]="port">
        </div>
      </div>
      <div class="col-md-2 offset-md-1">
          <div class="form-group">

           <label for="last"> </label>
            <button class="btn btn-success " (click)="onSubmit()">Modifier</button>
          </div>
       </div>

    <!--  col-md-3   -->
  </div>
