<br>
<div class="container" *ngIf="session=='true'; else other_content">
  <form name="form"  [formGroup]="connForm"    (ngSubmit)="onSubmit() " >
    <h2>Connexion ssh</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="first">Host IP</label>
          <input type="text" class="form-control"  formControlName="host" name="host" placeholder="xxx.xxx.xxx.xxx" id="host" pattern="^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})$" >
          
           
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="last">Utilisateur</label>
          <input type="text" class="form-control" formControlName="user"placeholder="user" name="user" id="user" >
          
        </div>
      </div>
      <!--  col-md-6   -->
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="company">password</label>
          <input type="password" class="form-control" formControlName="password" name="password"placeholder="***" id="password" >
        
        </div>


      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">

        <div class="form-group">
          <label for="phone">Port</label>
          <input type="tel" class="form-control" id="Port" formControlName="port" name="port" placeholder="22">
        </div>
      </div>
      <!--  col-md-6   -->
    </div>
    
    <!--  row   -->
    <button type="submit"  class="btn btn-primary" [disabled]="!connForm.valid">Submit</button>
  </form>
 <div>{{msg}}</div>
 

</div>
<ng-template class=" offset-md-5" #other_content><a href="/login">You must login......</a></ng-template>
